[Desktop Entry]

# The type as listed above
Type=Application

# The version of the desktop entry specification to which this file complies
Version=1.0

# The name of the application
Name="Notion Calendar"

# A comment which can/will be used as a tooltip
Comment="Notion Calendar"

# The path to the folder in which the executable is run
Path=/usr/bin/

# The executable of the application, possibly with arguments.
Exec=notion-calendar-electron

# The name of the icon that will be used to display this entry
Icon=notion-calendar

# Describes whether this application needs to be run in a terminal or not
Terminal=false

# Describes the categories in which this entry should be shown
Categories=Education;
